.ls-reminder-label { margin-right: 10px; display: inline-block; vertical-align: middle; }
#ls-reminder img { margin-right: 7px; }
#ls-reminder-send-button { margin-left: 8px }
#order_status { margin-right: 15px; }
.lipscore-notice-msg { background: url(images/warning_msg_icon.gif) no-repeat; padding: 2px 0 0 20px; }
#ls-reminder-preview-text { margin-bottom: 15px }
#ls-reminder-preview-text > h3 { margin-top: 0.5em }
#ls-reminder-preview-text > h3:first-child { margin-top: -0.5em }
.ls-reminder-err { color: #df280a }
.ls-reminder-result-header { color: inherit; }
