<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
* Module configuration
*
* @author oivanova
*/
-->

<config>
    <modules>
        <Lipscore_RatingsReviews>
            <version>1.4.0</version>
        </Lipscore_RatingsReviews>
    </modules>

    <global>
        <cache>
            <types>
                <config_api translate="label,description" module="lipscore_ratingsreviews">
                    <label>Lipscore Extension Configuration</label>
                    <description>Environment configuration files.</description>
                    <tags>CONFIG_LIPSCORE_ENV</tags>
                </config_api>
            </types>
        </cache>

        <blocks>
            <lipscore_ratingsreviews>
                <class>Lipscore_RatingsReviews_Block</class>
            </lipscore_ratingsreviews>
        </blocks>

        <models>
            <lipscore_ratingsreviews>
                <class>Lipscore_RatingsReviews_Model</class>
            </lipscore_ratingsreviews>
        </models>

        <helpers>
            <lipscore_ratingsreviews>
                <class>Lipscore_RatingsReviews_Helper</class>
            </lipscore_ratingsreviews>
        </helpers>

        <events>
            <controller_action_predispatch>
                <observers>
                    <lipscore_ratingsreviews_output>
                        <class>lipscore_ratingsreviews/observer_module</class>
                        <method>disableOutput</method>
                    </lipscore_ratingsreviews_output>
                    <lipscore_ratingsreviews_version>
                        <class>lipscore_ratingsreviews/observer_module</class>
                        <method>checkVersion</method>
                    </lipscore_ratingsreviews_version>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_load_before>
                <observers>
                    <lipscore_ratingsreviews>
                        <class>lipscore_ratingsreviews/observer_output</class>
                        <method>manageMageReviewModule</method>
                    </lipscore_ratingsreviews>
                </observers>
            </controller_action_layout_load_before>
            <catalog_product_collection_load_after>
                <observers>
                    <lipscore_ratingsreviews>
                        <class>lipscore_ratingsreviews/observer_output</class>
                        <method>addRatings</method>
                    </lipscore_ratingsreviews>
                </observers>
            </catalog_product_collection_load_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <lipscore_ratingsreviews>
                        <class>lipscore_ratingsreviews/observer_output</class>
                        <method>addReviewsTab</method>
                    </lipscore_ratingsreviews>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <lipscore_ratingsreviews>
                        <class>lipscore_ratingsreviews/observer_output</class>
                        <method>addReviewsFeatures</method>
                    </lipscore_ratingsreviews>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_load_after>
                <observers>
                    <lipscore_ratingsreviews>
                        <class>lipscore_ratingsreviews/observer_order_status</class>
                        <method>fetch</method>
                    </lipscore_ratingsreviews>
                </observers>
            </sales_order_load_after>
            <sales_order_save_after>
                <observers>
                    <lipscore_ratingsreviews>
                        <class>lipscore_ratingsreviews/observer_order_status</class>
                        <method>check</method>
                    </lipscore_ratingsreviews>
                </observers>
            </sales_order_save_after>
        </events>

        <resources>
            <lipscore_ratingsreviews_setup>
                <setup>
                    <module>Lipscore_RatingsReviews</module>
                </setup>
            </lipscore_ratingsreviews_setup>
        </resources>
    </global>

	<admin>
	     <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lipscore_ratingsreviews after="Mage_Adminhtml">Lipscore_RatingsReviews</lipscore_ratingsreviews>
                    </modules>
                    <frontName>lipscore</frontName>
                </args>
            </adminhtml>
	     </routers>
	</admin>

    <frontend>
        <layout>
            <updates>
                <lipscore_ratingsreviews>
                    <file>lipscore_ratingsreviews.xml</file>
                </lipscore_ratingsreviews>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <lipscore_ratingsreviews>
                    <file>lipscore_ratingsreviews.xml</file>
                </lipscore_ratingsreviews>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <lipscore_general>
            <api_key>
                <api_key>889c3f3e4b6ac67269261324</api_key>
                <demo_api_key>889c3f3e4b6ac67269261324</demo_api_key>
            </api_key>
            <product_brand>
                <attr>brand</attr>
            </product_brand>
            <locale>
                <locale>auto</locale>
            </locale>
            <emails>
                <order_status>pending</order_status>
            </emails>
            <module>
                <active>1</active>
            </module>
        </lipscore_general>
        <lipscore_coupons>
            <coupons>
                <length>12</length>
                <format>alphanum</format>
            </coupons>
        </lipscore_coupons>
    </default>
</config>
